/*

$breakpoint argument choices:

- phone
- tab-port
- tab-land
- big-desk

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  background-color: #29303a;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  font-family: "Playpen Sans", sans-serif; }

.heading-primary {
  color: #ffc107;
  font-size: 3.4rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
  text-align: center; }

.heading-secondary {
  color: #cacaca;
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  transition: all 0.5s; }

.heading-tertiary {
  margin-bottom: 4rem;
  font-style: italic;
  padding-bottom: 1rem;
  color: #b13a42;
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 2px solid #ededed; }

.paragraph {
  line-height: 3rem;
  font-size: 1.5rem; }

.btn {
  text-decoration: none;
  transition: all 0.5s;
  text-decoration: none !important;
  text-align: center;
  padding: 0.5rem 4rem 0.5rem 4rem;
  display: block;
  font-size: 1.8rem;
  display: inline-block; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.75); }

.btn-light {
  background-color: #b13a42;
  border-radius: 5rem;
  color: #ededed;
  transition: all 0.5s;
  overflow: hidden; }
  .btn-light:hover {
    background-color: transparent;
    color: #b13a42; }

.header {
  margin-top: 25rem;
  display: flex;
  flex-direction: row;
  column-gap: 8rem;
  justify-content: center;
  align-items: stretch;
  padding: 0 20rem; }
  .header__profile {
    position: relative;
    background-color: #cacaca;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 0px; }
    .header__profile--title {
      background-color: #ffc107;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.5rem 3rem 1.5rem;
      flex: 1 1 0px; }
      .header__profile--title h2 {
        color: #29303a;
        text-align: center;
        font-size: 2rem; }
      .header__profile--title p {
        color: #29303a;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500; }
      .header__profile--title-img {
        width: 13rem;
        border-radius: 50%; }
    .header__profile--body {
      padding: 3rem;
      flex: 1 1 30%; }
      .header__profile--body-info {
        list-style: none;
        margin-bottom: 3rem;
        font-size: 1.2rem; }
        .header__profile--body-info li {
          display: flex;
          column-gap: 1rem;
          background: rgba(177, 58, 66, 0.2);
          border-radius: 1rem;
          padding: 1rem;
          color: #29303a; }
          .header__profile--body-info li a {
            text-decoration: none;
            color: #29303a;
            transition: all 0.5s; }
            .header__profile--body-info li a:hover {
              color: #777; }
          .header__profile--body-info li span {
            font-style: italic;
            color: #777; }
          .header__profile--body-info li p {
            display: inline-block !important; }
          .header__profile--body-info li:not(:last-child) {
            margin-bottom: 2rem; }
      .header__profile--body-btn {
        text-align: center; }
      .header__profile--body h3 {
        color: #29303a !important;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        text-align: center; }
        .header__profile--body h3 span {
          color: #b13a42;
          font-style: italic; }
  .header__text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    flex: 1 1 20%;
    background-color: #cacaca;
    border-radius: 1rem; }
    .header__text--box {
      padding: 3rem 4rem 2rem 4rem; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 15rem 1.2rem;
  z-index: 2000;
  transition: all 0.25s;
  border-bottom: 2px solid transparent; }
  .navbar__title {
    display: flex;
    column-gap: 2rem; }
    .navbar__title--img {
      display: flex;
      justify-content: center;
      align-items: center; }
    .navbar__title--header {
      width: max-content;
      transition: all 0.5s; }
    .navbar__title h1 {
      text-align: left; }
    .navbar__title img {
      width: 10rem;
      border-radius: 50%;
      transition: all 0.5s; }
  .navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s; }
    .navbar__links-list {
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
      list-style: none; }
      .navbar__links-list li {
        font-size: 1.7rem; }
        .navbar__links-list li a {
          text-decoration: none;
          color: #cacaca;
          transition: all 0.5s;
          border-radius: 1rem;
          padding: 0.5rem 1rem; }
          .navbar__links-list li a:hover {
            color: #ffc107;
            background-color: #b13a42; }

.active {
  background-color: #222830;
  border-bottom: 2px solid #a5a5a5; }
  .active #logo {
    width: 8rem; }
  .active #title-1,
  .active #title-2 {
    transform: scale(0.7) translateX(-8rem); }

.projects {
  margin-top: 17rem;
  padding: 0 15rem 0 15rem; }
  .projects h1 {
    text-align: center; }
  .projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5rem;
    row-gap: 3rem;
    margin-top: 10rem;
    text-align: center; }
    .projects__container--card {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem 1rem 2rem;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
      width: 30rem;
      height: 30rem;
      transition: all 0.5s;
      border: 2px solid #b13a42;
      background-color: #cacaca; }
      .projects__container--card p {
        line-height: 2.2rem; }
      .projects__container--card span {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600; }
      .projects__container--card img {
        width: 10rem;
        border-radius: 1rem;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: all 0.5s;
        border: 2px solid transparent; }
      .projects__container--card i {
        font-size: 2rem;
        border: 1px solid #777;
        border-radius: 1rem;
        padding: 1.2rem;
        transition: all 0.5s;
        color: #29303a; }
      .projects__container--card:hover {
        transform: translateY(-0.5rem);
        border: 2px solid transparent;
        box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75); }
        .projects__container--card:hover img {
          border: 2px solid #b13a42;
          filter: grayscale(0);
          -webkit-filter: grayscale(0); }

.students {
  margin-top: 25rem;
  padding: 0 20rem; }
  .students img {
    width: 15rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    transition: all 0.5s;
    filter: grayscale(100%);
    -webklit-filter: grayscale(100%);
    align-self: flex-start; }
  .students__content {
    margin-top: 5rem;
    border-radius: 2rem;
    background-color: #cacaca;
    padding: 5rem; }
    .students__content p {
      display: flex;
      column-gap: 2rem;
      border-bottom: 2px solid #ededed;
      font-size: 1.5rem;
      padding-bottom: 2rem; }
    .students__content--list {
      list-style: none; }
      .students__content--list span {
        color: #b13a42;
        font-size: 2.3rem;
        transition: all 0.5s; }
      .students__content--list-item {
        display: flex;
        flex-direction: row;
        column-gap: 5rem; }
        .students__content--list-item:not(:last-child) {
          margin-bottom: 2rem; }
        .students__content--list-item:hover img {
          border: 2px solid #b13a42;
          filter: grayscale(0);
          -webklit-filter: grayscale(0); }

.research {
  margin-top: 20rem;
  padding: 0 30rem; }
  .research__content {
    background-color: #cacaca;
    border-radius: 2rem;
    margin-top: 5rem;
    padding: 10rem; }
    .research__content img {
      width: 50rem;
      border-radius: 1rem;
      border: 2px solid #29303a; }
    .research__content--list {
      text-align: center;
      list-style: none; }
      .research__content--list-item:not(:last-child) {
        margin-top: 3rem; }
    .research__content p {
      margin-top: 2rem;
      text-align: left; }
    .research__content span {
      color: #b13a42;
      font-size: 2rem; }

.nested {
  list-style: none;
  padding-left: 5rem; }

.publications {
  margin-top: 20rem;
  padding: 0 30rem; }
  .publications__content {
    margin-top: 5rem; }
    .publications__content--box {
      background-color: #cacaca;
      border-radius: 2rem;
      padding: 3rem; }
      .publications__content--box:not(:first-child) {
        margin-top: 5rem; }
      .publications__content--box-list {
        list-style: none; }
      .publications__content--box-item {
        display: flex;
        column-gap: 2rem;
        margin-top: 2rem; }
        .publications__content--box-item span {
          color: #b13a42;
          font-size: 2rem; }

.courses {
  margin-top: 20rem;
  padding: 0 30rem; }
  .courses__titles {
    margin-top: 5rem;
    padding: 10rem; }
    .courses__titles--list {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 5rem;
      row-gap: 2rem; }
    .courses__titles--item {
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
      column-gap: 2rem;
      transition: all 0.5s;
      border: 2px solid #b13a42;
      background-color: #cacaca;
      flex: 0 0 50rem; }
      .courses__titles--item a {
        text-decoration: none;
        color: #29303a;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 2rem; }
      .courses__titles--item span {
        font-size: 2rem;
        color: #b13a42; }
      .courses__titles--item:hover {
        transform: translateY(-0.5rem);
        border: 2px solid transparent;
        box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75); }
  .courses__text {
    background-color: #cacaca;
    border-radius: 2rem;
    padding: 3rem; }
    .courses__text:not(:first-child) {
      margin-top: 4rem; }

.roles {
  margin-top: 17rem;
  padding: 0 15rem 0 15rem; }
  .roles__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem; }
    .roles__text--box {
      border-radius: 1rem;
      padding: 2rem 4rem 2rem 4rem;
      width: 100rem;
      background-color: #cacaca; }
  .roles h1 {
    text-align: center; }
  .roles h3 {
    padding-bottom: 1rem;
    border-bottom: 2px solid #ededed;
    margin-bottom: 1rem;
    color: #b13a42;
    font-style: italic; }
  .roles ul {
    margin-top: 2rem; }
    .roles ul li {
      list-style: none; }
      .roles ul li p {
        display: flex;
        column-gap: 2rem;
        font-size: 1.5rem !important;
        line-height: 3rem;
        text-align: justify; }
        .roles ul li p i {
          font-size: 2rem;
          color: #b13a42; }
      .roles ul li:not(:first-child) {
        margin-top: 1.5rem; }

.news {
  margin-top: 17rem;
  padding: 0 35rem; }
  .news h1 {
    text-align: center; }
  .news__text {
    margin-top: 10rem;
    background-color: #cacaca;
    border-radius: 1rem;
    padding: 2rem 4rem 2rem 4rem; }
    .news__text p {
      display: flex;
      column-gap: 2rem;
      margin-top: 2rem; }
    .news__text h3 {
      padding-bottom: 1rem;
      border-bottom: 2px solid #ededed;
      margin-bottom: 1rem;
      color: #b13a42;
      font-style: italic; }
    .news__text span {
      font-size: 2rem;
      color: #b13a42; }
  .news__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    margin-top: 5rem; }
    .news__images--item {
      text-align: center;
      background-color: #cacaca;
      border-radius: 1rem;
      padding: 3rem;
      border: 2px solid #b13a42;
      transition: all 0.5s; }
      .news__images--item img {
        width: 20rem;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: all 0.5s;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); }
      .news__images--item p {
        color: #29303a;
        transition: all 0.5s;
        margin-top: 2rem; }
      .news__images--item:hover {
        transform: translateY(-0.5rem);
        border: 2px solid transparent;
        box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75); }
        .news__images--item:hover img {
          border: 2px solid #b13a42;
          filter: grayscale(0);
          -webkit-filter: grayscale(0); }
        .news__images--item:hover p {
          color: #b13a42; }

.footer {
  margin-top: 10rem;
  background-color: #222830;
  padding: 5rem;
  text-align: center; }
  .footer img {
    border-radius: 50%; }
  .footer h2 {
    border-bottom: 1px solid #cacaca;
    width: 100rem;
    margin: 0 auto;
    padding-bottom: 2rem; }
  .footer p {
    text-transform: capitalize;
    color: #b13a42; }
    .footer p:not(:last-child) {
      margin-top: 4rem; }
    .footer p a {
      text-decoration: none;
      text-transform: none;
      transition: all 0.5s;
      color: #b13a42; }
      .footer p a:hover {
        color: #d0992e; }
