/*

$breakpoint argument choices:

- phone
- tab-port
- tab-land
- big-desk

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  background-color: #29303a;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  font-family: "Playpen Sans", sans-serif; }

.heading-primary {
  color: #ffc107;
  font-size: 3.4rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
  text-align: center; }
  @media (max-width: 93.75em) {
    .heading-primary {
      font-size: 3rem; } }
  @media (max-width: 75em) {
    .heading-primary {
      font-size: 2.6rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.2rem; } }

.heading-secondary {
  color: #cacaca;
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  transition: all 0.5s; }
  @media (max-width: 93.75em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  margin-bottom: 2rem;
  font-style: italic;
  padding-bottom: 1rem;
  color: #b13a42;
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 2px solid #ededed; }
  @media (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.7rem; } }

h4 {
  font-size: 2.5rem;
  font-family: "Jost", sans-serif;
  font-style: italic; }
  @media (max-width: 56.25em) {
    h4 {
      font-size: 2rem; } }

.paragraph {
  line-height: 3rem;
  font-size: 1.5rem;
  transition: all 0.5s;
  text-align: justify; }
  @media (max-width: 56.25em) {
    .paragraph {
      line-height: 2.2rem;
      font-size: 1.3rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      line-height: 2rem; } }

.btn {
  text-decoration: none;
  transition: all 0.5s;
  text-decoration: none !important;
  text-align: center;
  padding: 0.5rem 4rem 0.5rem 4rem;
  display: block;
  font-size: 1.8rem;
  display: inline-block; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.75); }

.btn-light {
  background-color: #b13a42;
  border-radius: 5rem;
  color: #ededed;
  transition: all 0.5s;
  overflow: hidden; }
  .btn-light:hover {
    background-color: transparent;
    color: #29303a; }

.textBox {
  border-radius: 1rem;
  background-color: #cacaca;
  padding: 3rem; }
  @media (max-width: 37.5em) {
    .textBox {
      padding: 2rem;
      border-radius: 0; } }

.card {
  transition: all 0.5s;
  border: 2px solid #b13a42;
  background-color: #cacaca;
  border-radius: 1rem; }
  .card:hover {
    transform: translateY(-0.5rem);
    border: 2px solid transparent;
    box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75); }

.header {
  margin-top: 25rem;
  padding: 0 30rem;
  position: relative; }
  @media (max-width: 93.75em) {
    .header {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .header {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .header {
      margin-top: 15rem;
      padding: 0 10rem; } }
  @media (max-width: 37.5em) {
    .header {
      padding: 0; } }
  .header__card {
    border-radius: 1rem 0 0 0;
    background-color: #d0992e;
    margin: 0 auto;
    position: relative;
    width: 88rem;
    padding: 2rem 0; }
    @media (max-width: 75em) {
      .header__card {
        width: 80rem; } }
    @media (max-width: 56.25em) {
      .header__card {
        border-radius: 1rem;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .header__card {
        border-radius: 0; } }
    .header__card::before {
      content: "";
      background-color: #222830;
      position: absolute;
      width: 92rem;
      height: 100%;
      top: -2rem;
      left: -3.96rem;
      z-index: -1; }
      @media (max-width: 75em) {
        .header__card::before {
          width: 84rem; } }
      @media (max-width: 56.25em) {
        .header__card::before {
          display: none; } }
    .header__card--title {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 17rem;
      padding-top: 1rem;
      padding-right: 3rem; }
      @media (max-width: 75em) {
        .header__card--title {
          column-gap: 12rem; } }
      @media (max-width: 56.25em) {
        .header__card--title {
          column-gap: 3rem; } }
      @media (max-width: 37.5em) {
        .header__card--title {
          column-gap: 1.5rem; } }
      .header__card--title-img {
        width: 19rem;
        border-radius: 50%; }
        @media (max-width: 56.25em) {
          .header__card--title-img {
            width: 12rem; } }
        @media (max-width: 37.5em) {
          .header__card--title-img {
            width: 10rem; } }
      .header__card--title-heading {
        text-align: center; }
        .header__card--title-heading h2 {
          color: #29303a;
          font-size: 4rem; }
          @media (max-width: 56.25em) {
            .header__card--title-heading h2 {
              font-size: 2.6rem; } }
        .header__card--title-heading p {
          text-align: center;
          font-size: 2rem;
          margin-top: 1rem; }
          @media (max-width: 56.25em) {
            .header__card--title-heading p {
              font-size: 1.3rem; } }
    .header__card--info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem 2rem 1rem 40%; }
      @media (max-width: 56.25em) {
        .header__card--info {
          justify-content: center;
          padding: 1rem; } }
      .header__card--info-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem; }
        @media (max-width: 37.5em) {
          .header__card--info-list {
            display: flex;
            flex-direction: column; } }
        .header__card--info-list li {
          background-color: #cacaca;
          border-radius: 1rem;
          padding: 1rem;
          color: #29303a;
          display: flex;
          flex-direction: row;
          column-gap: 1rem;
          position: relative; }
          .header__card--info-list li a {
            text-decoration: none;
            color: #29303a;
            transition: all 0.5s; }
            .header__card--info-list li a:hover {
              color: #777; }
          .header__card--info-list li span {
            font-style: italic;
            color: #b13a42;
            z-index: 1; }
    .header__card--about {
      -webkit-clip-path: polygon(0 0, 34% 0, 34% 18%, 100% 18%, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 34% 0, 34% 18%, 100% 18%, 100% 100%, 0 100%);
      margin: 0 auto;
      position: absolute;
      top: 27rem;
      width: 100%; }
      @media (max-width: 75em) {
        .header__card--about {
          -webkit-clip-path: polygon(0 0, 34% 0, 34% 17%, 100% 17%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 34% 0, 34% 17%, 100% 17%, 100% 100%, 0 100%); } }
      @media (max-width: 56.25em) {
        .header__card--about {
          -webkit-clip-path: none;
          clip-path: none;
          border-radius: 1rem;
          position: static; } }
      @media (max-width: 37.5em) {
        .header__card--about {
          border-radius: 0; } }
      .header__card--about h3 {
        text-align: center;
        width: 25rem; }
        @media (max-width: 75em) {
          .header__card--about h3 {
            width: 21rem; } }
        @media (max-width: 56.25em) {
          .header__card--about h3 {
            width: 100%; } }
      .header__card--about p {
        padding-top: 2rem; }
        @media (max-width: 56.25em) {
          .header__card--about p {
            padding: 0; } }
      .header__card--about-text {
        border-radius: 0 0 1rem 1rem; }

.item1 {
  grid-area: 1 / 1 / 2 / 2; }

.item2 {
  grid-area: 2 / 1 / 3 / 2; }

.item3 {
  grid-area: 1 / 2 / 3 / 3; }

.corner {
  display: block;
  position: absolute;
  background-color: #29303a;
  bottom: 0;
  left: 0;
  height: 9rem;
  width: 36%; }
  @media (max-width: 75em) {
    .corner {
      width: 36.5%; } }
  @media (max-width: 56.25em) {
    .corner {
      display: none; } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 15rem 1.2rem;
  z-index: 2000;
  transition: all 0.25s;
  border-bottom: 2px solid transparent; }
  @media (max-width: 93.75em) {
    .navbar {
      padding: 1.5rem 5rem 1.2rem; } }
  @media (max-width: 75em) {
    .navbar {
      padding: 1.5rem 2rem 1.2rem; } }
  @media (max-width: 56.25em) {
    .navbar {
      display: none; } }
  .navbar__title {
    display: flex;
    column-gap: 2rem; }
    .navbar__title--img {
      display: flex;
      justify-content: center;
      align-items: center; }
    .navbar__title--header {
      width: max-content;
      transition: all 0.5s; }
    .navbar__title h1 {
      text-align: left; }
    .navbar__title img {
      width: 10rem;
      border-radius: 50%;
      transition: all 0.5s; }
      @media (max-width: 93.75em) {
        .navbar__title img {
          width: 9rem; } }
      @media (max-width: 75em) {
        .navbar__title img {
          width: 7rem; } }
  .navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s; }
    .navbar__links-list {
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
      list-style: none; }
      @media (max-width: 93.75em) {
        .navbar__links-list {
          column-gap: 2.3rem; } }
      @media (max-width: 75em) {
        .navbar__links-list {
          column-gap: 1rem; } }
      .navbar__links-list li {
        font-size: 1.7rem; }
        @media (max-width: 75em) {
          .navbar__links-list li {
            font-size: 1.5rem; } }
        .navbar__links-list li a {
          text-decoration: none;
          color: #cacaca;
          transition: all 0.5s;
          border-radius: 1rem;
          padding: 0.5rem 1rem; }
          .navbar__links-list li a:hover {
            color: #ffc107;
            background-color: #b13a42; }

.active {
  background-color: #222830;
  border-bottom: 2px solid #a5a5a5; }
  .active #logo {
    width: 8rem; }
    @media (max-width: 75em) {
      .active #logo {
        width: 6rem; } }
  .active #title-1,
  .active #title-2 {
    transform: scale(0.7) translateX(-8rem); }
    @media (max-width: 75em) {
      .active #title-1,
      .active #title-2 {
        transform: scale(0.7) translateX(-6rem); } }

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222830;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: 10rem;
  display: none;
  z-index: 3000; }
  @media (max-width: 56.25em) {
    .mobileNav {
      display: flex; } }
  @media (max-width: 37.5em) {
    .mobileNav {
      padding: 1rem 1rem; } }
  .mobileNav__title {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center; }
    @media (max-width: 37.5em) {
      .mobileNav__title {
        column-gap: 1rem; } }
    .mobileNav__title--img {
      width: 7rem;
      border-radius: 50%; }
      @media (max-width: 37.5em) {
        .mobileNav__title--img {
          width: 5rem; } }
    .mobileNav__title--heading h2 {
      font-family: "Jost", sans-serif;
      color: #ffc107;
      font-size: 2rem;
      text-transform: uppercase; }
    .mobileNav__title--heading h3 {
      font-family: "Jost", sans-serif;
      color: #cacaca; }
      @media (max-width: 37.5em) {
        .mobileNav__title--heading h3 {
          font-size: 1rem; } }
  .mobileNav__menu {
    color: #ededed;
    font-size: 3rem; }

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.6rem);
  -webkit-backdrop-filter: blur(0.6rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2700;
  transition: all 0.5s; }

.mobileLinks {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2800;
  transition: all 0.5s; }
  .mobileLinks__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    list-style: none; }
    .mobileLinks__list a {
      text-decoration: none;
      color: #ededed;
      font-size: 3rem; }
      @media (max-width: 37.5em) {
        .mobileLinks__list a {
          font-size: 1.8rem; } }
      .mobileLinks__list a:active {
        color: #b13a42; }

.hidden {
  visibility: hidden;
  transform: translateY(-100rem); }

.projects {
  margin-top: 6rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .projects {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .projects {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .projects {
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .projects {
      margin-top: 5rem;
      padding: 0 2rem; } }
  .projects__container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 3rem;
    text-align: center;
    grid-auto-rows: 1fr; }
    @media (max-width: 93.75em) {
      .projects__container {
        column-gap: 4rem;
        row-gap: 2rem; } }
    @media (max-width: 75em) {
      .projects__container {
        column-gap: 3rem;
        row-gap: 1.5rem; } }
    @media (max-width: 56.25em) {
      .projects__container {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1rem;
        margin-top: 5rem; } }
    @media (max-width: 37.5em) {
      .projects__container {
        grid-template-columns: 1fr;
        row-gap: 2rem; } }
    .projects__container a {
      text-decoration: none;
      color: #29303a; }
    .projects__container p {
      text-align: center; }
    .projects__container--card {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      padding: 2rem 0.5rem;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
      height: 100%; }
      .projects__container--card span {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600; }
      .projects__container--card img {
        width: 15rem;
        border-radius: 1rem;
        transition: all 0.5s;
        border: 2px solid transparent; }
        @media (max-width: 93.75em) {
          .projects__container--card img {
            width: 12rem; } }
      .projects__container--card i {
        font-size: 2rem;
        border: 1px solid #777;
        border-radius: 1rem;
        padding: 1.2rem;
        transition: all 0.5s;
        color: #29303a; }
      .projects__container--card:hover img {
        border: 2px solid #b13a42;
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }

.students {
  margin-top: 20rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .students {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .students {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .students {
      margin-top: 15rem;
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .students {
      padding: 0; } }
  .students img {
    width: 15rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    transition: all 0.5s;
    align-self: flex-start; }
    @media (max-width: 56.25em) {
      .students img {
        align-self: center; } }
  .students__content {
    margin-top: 5rem; }
    .students__content p {
      display: flex;
      column-gap: 2rem;
      padding-bottom: 2rem;
      text-align: justify;
      border-bottom: 2px solid #ededed; }
      @media (max-width: 56.25em) {
        .students__content p {
          column-gap: 1.5rem; } }
    .students__content--list {
      list-style: none; }
      .students__content--list span {
        color: #b13a42;
        font-size: 2rem; }
        @media (max-width: 56.25em) {
          .students__content--list span {
            font-size: 1.5rem; } }
      .students__content--list-item {
        display: flex;
        flex-direction: row;
        column-gap: 5rem; }
        .students__content--list-item:not(:last-child) {
          margin-bottom: 2rem; }
        @media (max-width: 56.25em) {
          .students__content--list-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 3rem; } }
        .students__content--list-item:hover img {
          border: 2px solid #b13a42;
          filter: grayscale(0);
          -webklit-filter: grayscale(0); }

.no-border {
  border-bottom: none !important; }

.research {
  margin-top: 20rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .research {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .research {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .research {
      margin-top: 15rem;
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .research {
      padding: 0; } }
  .research__content {
    margin-top: 5rem; }
    .research__content img {
      width: 50rem;
      border-radius: 0.3rem; }
      @media (max-width: 75em) {
        .research__content img {
          width: 35rem; } }
      @media (max-width: 37.5em) {
        .research__content img {
          width: 20rem; } }
    .research__content--list {
      text-align: center;
      list-style: none; }
      .research__content--list h3 {
        text-align: left;
        text-transform: capitalize;
        border: none; }
      .research__content--list-item {
        margin-top: 3rem;
        scroll-margin-top: 20rem; }
    .research__content p {
      margin-top: 2rem;
      text-align: left;
      display: flex;
      column-gap: 2rem;
      border-bottom: 2px solid #ededed;
      padding-bottom: 2rem; }
      @media (max-width: 56.25em) {
        .research__content p {
          column-gap: 1.5rem; } }
      @media (max-width: 37.5em) {
        .research__content p {
          column-gap: 1rem;
          text-align: justify; } }
    .research__content span {
      color: #b13a42;
      font-size: 2rem; }
      @media (max-width: 56.25em) {
        .research__content span {
          font-size: 1.6rem; } }
      @media (max-width: 37.5em) {
        .research__content span {
          font-size: 1.4rem; } }

.nested {
  list-style: none;
  padding-left: 5rem; }

.no-border {
  border: none !important; }

.publications {
  margin-top: 20rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .publications {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .publications {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .publications {
      margin-top: 15rem;
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .publications {
      padding: 0; } }
  .publications__content {
    margin-top: 5rem; }
    .publications__content--box:not(:first-child) {
      margin-top: 5rem; }
    .publications__content--box-list {
      list-style: none; }
    .publications__content--box-item {
      display: flex;
      column-gap: 2rem;
      margin-top: 2rem; }
      @media (max-width: 56.25em) {
        .publications__content--box-item {
          column-gap: 1.5rem; } }
      @media (max-width: 37.5em) {
        .publications__content--box-item {
          column-gap: 1rem; } }
      .publications__content--box-item span {
        color: #b13a42;
        font-size: 2rem; }
        @media (max-width: 56.25em) {
          .publications__content--box-item span {
            font-size: 1.6rem; } }
        @media (max-width: 37.5em) {
          .publications__content--box-item span {
            font-size: 1.4rem; } }

.courses {
  margin-top: 20rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .courses {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .courses {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .courses {
      margin-top: 15rem;
      padding: 0 3rem; } }
  @media (max-width: 37.5em) {
    .courses {
      padding: 0; } }
  .courses__titles {
    margin-top: 5rem;
    margin-bottom: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
    .courses__titles--list {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5rem;
      row-gap: 2rem;
      grid-auto-rows: 1fr; }
      @media (max-width: 56.25em) {
        .courses__titles--list {
          column-gap: 3rem; } }
      @media (max-width: 37.5em) {
        .courses__titles--list {
          column-gap: 3rem;
          grid-template-columns: 1fr; } }
    .courses__titles--item {
      background-color: #222830;
      border-radius: 1rem;
      padding: 2rem;
      transition: all 0.5s; }
      .courses__titles--item a {
        text-decoration: none;
        color: #ededed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        row-gap: 3rem; }
      .courses__titles--item-icon1 {
        background-color: #6fbd83; }
      .courses__titles--item-icon2 {
        background-color: #d87ad9; }
      .courses__titles--item-icon3 {
        background-color: #64d0d9; }
      .courses__titles--item-icon4 {
        background-color: #12d963; }
      .courses__titles--item-icon5 {
        background-color: #d6d938; }
      .courses__titles--item-icon6 {
        background-color: #d95017; }
      @media (min-width: 900px) {
        .courses__titles--item:hover {
          transform: translateY(-0.5rem);
          box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
          -webkit-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75);
          -moz-box-shadow: 1px 2px 15px 0px rgba(255, 255, 255, 0.75); } }
      .courses__titles--item p {
        color: #ededed;
        text-align: center; }
      .courses__titles--item span {
        width: 5rem;
        font-size: 2rem;
        color: #29303a;
        border-radius: 50%;
        padding: 1rem; }
  .courses__text {
    scroll-margin-top: 20rem; }
    .courses__text:not(:first-child) {
      margin-top: 4rem; }

.roles {
  margin-top: 50rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .roles {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .roles {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .roles {
      margin-top: 6rem;
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .roles {
      margin-top: 5rem;
      padding: 0; } }
  .roles__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem; }
    @media (max-width: 37.5em) {
      .roles__text {
        margin-top: 5rem; } }
  .roles h1 {
    text-align: center; }
  .roles h3 {
    padding-bottom: 1rem;
    border-bottom: 2px solid #ededed;
    margin-bottom: 1rem;
    color: #b13a42;
    font-style: italic; }
  .roles ul {
    margin-top: 2rem; }
    .roles ul li {
      list-style: none; }
      .roles ul li p {
        display: flex;
        column-gap: 2rem; }
        @media (max-width: 56.25em) {
          .roles ul li p {
            column-gap: 1.5rem; } }
        @media (max-width: 37.5em) {
          .roles ul li p {
            column-gap: 1rem; } }
        .roles ul li p i {
          font-size: 2rem;
          color: #b13a42; }
          @media (max-width: 56.25em) {
            .roles ul li p i {
              font-size: 1.6rem; } }
          @media (max-width: 37.5em) {
            .roles ul li p i {
              font-size: 1.4rem; } }
      .roles ul li:not(:first-child) {
        margin-top: 1.5rem; }

.news {
  margin-top: 6rem;
  padding: 0 30rem; }
  @media (max-width: 93.75em) {
    .news {
      padding: 0 20rem; } }
  @media (max-width: 75em) {
    .news {
      padding: 0 8rem; } }
  @media (max-width: 56.25em) {
    .news {
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .news {
      margin-top: 5rem;
      padding: 0; } }
  .news__text {
    margin-top: 6rem; }
    @media (max-width: 37.5em) {
      .news__text {
        margin-top: 5rem; } }
    .news__text--paragraph {
      display: flex;
      column-gap: 2rem; }
      @media (max-width: 56.25em) {
        .news__text--paragraph {
          column-gap: 1.5rem; } }
      @media (max-width: 37.5em) {
        .news__text--paragraph {
          column-gap: 1rem; } }
    .news__text h3 {
      padding-bottom: 1rem;
      border-bottom: 2px solid #ededed;
      margin-bottom: 1rem;
      color: #b13a42;
      font-style: italic; }
    .news__text span {
      font-size: 2rem;
      color: #b13a42; }
      @media (max-width: 56.25em) {
        .news__text span {
          font-size: 1.6rem; } }
      @media (max-width: 37.5em) {
        .news__text span {
          font-size: 1.4rem; } }
  .news__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    margin-top: 5rem; }
    @media (max-width: 56.25em) {
      .news__images {
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem; } }
    @media (max-width: 37.5em) {
      .news__images {
        grid-template-columns: 1fr;
        padding: 0 2rem; } }
    .news__images--item {
      text-align: center;
      padding: 3rem; }
      @media (max-width: 75em) {
        .news__images--item {
          padding: 2rem; } }
      .news__images--item img {
        width: 20rem;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: all 0.5s; }
        @media (max-width: 75em) {
          .news__images--item img {
            width: 15rem; } }
      .news__images--item p {
        margin-top: 2rem;
        text-align: center; }
      .news__images--item:hover img {
        border: 2px solid #b13a42;
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
      .news__images--item:hover p {
        color: #b13a42; }

.footer {
  margin-top: 10rem;
  background-color: #222830;
  padding: 5rem;
  text-align: center; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 1rem; } }
  .footer img {
    border-radius: 50%; }
    @media (max-width: 56.25em) {
      .footer img {
        width: 10rem; } }
    @media (max-width: 37.5em) {
      .footer img {
        width: 6rem; } }
  .footer h2 {
    border-bottom: 1px solid #cacaca;
    width: 100rem;
    margin: 0 auto;
    padding-bottom: 2rem; }
    @media (max-width: 75em) {
      .footer h2 {
        width: 80rem; } }
    @media (max-width: 56.25em) {
      .footer h2 {
        width: 40rem; } }
    @media (max-width: 37.5em) {
      .footer h2 {
        width: 100%;
        font-size: 1.5rem; } }
  .footer p {
    text-transform: capitalize;
    color: #b13a42;
    text-align: center; }
    .footer p:not(:last-child) {
      margin-top: 4rem; }
    .footer p a {
      text-decoration: none;
      text-transform: none;
      transition: all 0.5s;
      color: #b13a42; }
      .footer p a:hover {
        color: #d0992e; }
